.courses{
  // width: 1280px;
  // border: 1px solid #ccc;
  // margin: 15px auto 0 auto;
  // border-radius: 5px;
  // background: #fff;
  .list{
    margin: 0;
    // padding: 0;
    padding: 0 0 10px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    .item{
      width: 20%;
      margin-top: 10px;
      .link{
        color: #777;
        text-decoration: none;
      }
      .img{
        display: block;
        width: 240px;
        height: 180px;
        margin: 0 auto;
        border-radius: 10px;
      }
      .title{
        font-size: 16px;
        padding: 0 10px;
        color: #000;
        margin: 0;
        line-height: 32px;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .desc{
        font-size: 14px;
        padding: 0 10px;
        margin: 0;
        line-height: 24px;
        font-weight: normal;
        color: #777;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }
    }
  }
}