.banner {
  height: 350px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 150px;

  .person {
    height: 150px;
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;

    .avatar {
      position: relative;
      top: -70px;
      margin-left: 40px;
      border-radius: 40px;
      width: 200px;
      height: 200px;
    }

    .content {
      flex: 1;

      .title {
        margin-left: 30px;
        line-height: 50px;
        font-size: 28px;
        color: #000;
        margin-top: 10px;
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }

      .desc {
        margin-right: 30px;
        margin-left: 30px;
        line-height: 32px;
        font-size: 18px;
        color: #333;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
}