.footer {
  background: #fff;
  padding: 10px;

  .list {
    list-style: none;
    margin: 0;
    padding: 0 10px;

    .item {
      line-height: 28px;
      font-size: 14px;

      .link {
        color: #545c63;
        text-decoration: none;
      }
    }
  }

  .copyright {
    line-height: 24px;
    font-size: 12px;
    color: #93999f;
    margin-left: 10px;
  }
}